@page "/-/{OperationId}"

<p>Operation ID: @OperationId</p>

<h1>Path Item: @PathItem?.Summary</h1>
<h1>Operation: @Operation?.Summary</h1>

@code {
    private IOpenApiPathItem? PathItem { get; set; }
    private OpenApiOperation? Operation { get; set; }
    
    [Parameter]
    public string? OperationId { get; set; }
    
    [CascadingParameter]
    public required OpenApiDocument OpenApiDocument { get; set; }

    protected override void OnParametersSet()
    {
        Operation = OpenApiDocument.Paths
            .SelectMany(path => path.Value.Operations.Values)
            .FirstOrDefault(op => op.OperationId == OperationId);
    }
}
