@namespace Drip.Components

@foreach (var tag in OpenApiDocument.Tags ?? [])
{
    <DripSideBarNavGroup ButtonText="@tag.Name">
        @foreach (var (pathPrefix, path) in OpenApiDocument.Paths)
        {
            @if (path.Operations.Any(o => o.Value.Tags?.Any(t => t.Target == tag) ?? false))
            {
                <div>@(path.Summary ?? pathPrefix)</div>
            }
        }
    </DripSideBarNavGroup>
}

@code {

    [CascadingParameter]
    public required OpenApiDocument OpenApiDocument { get; set; }

}