@namespace Drip.Components

<DripSideBarNavItem Href="" Match="NavLinkMatch.All">
    🏠 Home
</DripSideBarNavItem>

@foreach (var tag in OpenApiDocument.Tags ?? [])
{
    <DripSideBarNavGroup ButtonText="@tag.Name">
        @foreach (var (pathPrefix, path) in OpenApiDocument.Paths)
        {
            foreach (var (operationType, operation) in path.Operations)
            {
                if (operation.Tags?.Any(t => t.Target == tag) ?? false)
                {
                    <DripSideBarNavItem Href="@($"-/{System.Web.HttpUtility.UrlEncode(operation.OperationId)}")">
                        <span>@(path.Summary ?? pathPrefix)</span> <DripSideBarOperationTag OperationType="operationType" />
                    </DripSideBarNavItem>
                }
            }
        }
    </DripSideBarNavGroup>
}

@code {
    [CascadingParameter]
    public required OpenApiDocument OpenApiDocument { get; set; }
    
}