.drip-sidebar-nav-item ::deep a {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem;
    border-radius: 8px;
    background: transparent;
    border: none;
    text-align: left;
    color: var(--drip-foreground);
    text-decoration: none;
}

.drip-sidebar-nav-item ::deep .active {
    background: var(--drip-background-hover);
    color: var(--drip-foreground);
    font-weight: 500;
}

.drip-sidebar-nav-item ::deep a:hover {
    background: var(--drip-background-hover);
    color: var(--drip-foreground);
}

.drip-sidebar-dropdown-content .drip-sidebar-nav-item ::deep a {
    font-size: 0.9rem;
}
