@page "/"

<PageTitle>Home</PageTitle>

<div class="drip-page-content">
    <h1>Hello, world!</h1>

    Welcome to your new app.

    <div>
        <input type="text" placeholder="test..." />
    </div>
</div>
