@page "/"
@page "/-"
@page "/-/{TagName}"
@page "/-/{TagName}/{Method}"

<PageTitle>Home</PageTitle>

<div class="drip-page-content">
    <h1>@OpenApiDocument.Info.Title <span>v@(OpenApiDocument.Info.Version)</span></h1>
    
    @if (OpenApiDocument.Info.Summary is { Length: > 0 } summary)
    {
        <DripMarkdown Content="@summary" />
    }
    
    @if (OpenApiDocument.Info.Description is { Length: > 0 } description)
    {
        <DripMarkdown Content="@description" />
    }
</div>

@code {
    [CascadingParameter]
    public required OpenApiDocument OpenApiDocument { get; set; }
    
    [Parameter]
    public string? TagName { get; set; }
    
    [Parameter]
    public string? Method { get; set; }
}
