@page "/-/{TagName}/{Method}/{Path}"

<p>Tag Name: @TagName</p>
<p>Method: @Method</p>
<p>Path: @Path</p>

<h1>Path Item: @PathItem?.Summary</h1>
<h1>Operation: @Operation?.Summary</h1>

@code {
    private IOpenApiPathItem? PathItem { get; set; }
    private OpenApiOperation? Operation { get; set; }
    
    [Parameter]
    public string? TagName { get; set; }
    
    [Parameter]
    public string? Method { get; set; }

    [Parameter] 
    public string? Path { get; set; }
    
    [CascadingParameter]
    public required OpenApiDocument OpenApiDocument { get; set; }

    protected override void OnParametersSet()
    {
        PathItem = OpenApiDocument.Paths
            .Where(x => x.Key.TrimStart('/').Equals(Path, StringComparison.OrdinalIgnoreCase))
            .Select(x => x.Value)
            .FirstOrDefault();
        
        Operation = PathItem?.Operations
            .Where(x => x.Key.ToString().Equals(Method, StringComparison.OrdinalIgnoreCase))
            .Select(x => x.Value)
            .FirstOrDefault();
    }
}
