@namespace Drip.Components

<span @attributes="Attributes">
    @ChildContent
</span>

@code {

    [Parameter]
    public Dictionary<string, object>? Attributes { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }
    
    protected override void OnParametersSet()
    {
        Attributes ??= [];
        Attributes["class"] = Attributes.TryGetValue("class", out var classValue) ? $"{classValue} drip-tag" : "drip-tag";
    }
}