@namespace Drip.Components

<div class="drip-topbar-content">
    <div class="drip-topbar-content-start">
        <DripIconButton id="dripSideBarMenuToggler" onclick="toggleSidebar()">
            @DripIcons.HamburgerMenu()
        </DripIconButton>
    </div>
    <div class="drip-topbar-content-end">
        <DripIconButton id="dripThemeToggler" onclick="toggleDarkMode()">
            <span class="dark-mode-only">@DripIcons.Moon()</span>
            <span class="light-mode-only">@DripIcons.Sun()</span>
        </DripIconButton>
    </div>
</div>
