@namespace Drip.Components

<div class="drip-topbar-content">
    <div class="drip-topbar-content-start"></div>
    <div class="drip-topbar-content-end">
        <DripIconButton onclick="document.documentElement.classList.toggle('dark')">
            @DripIcons.Moon()
        </DripIconButton>
    </div>
</div>
