@inherits LayoutComponentBase
@inject OpenApiDocumentLoader OpenApiDocumentLoader

@if (OpenApiDocument is null)
{
    <DripLoader />
}
else
{
    <div id="dripLayout" class="drip-layout">
        <CascadingValue Value="OpenApiDocument">
            <div class="drip-topbar">
                <DripTopBarContent />
            </div>
            <div class="drip-body-layout">
                <aside id="dripSideBar" class="drip-sidebar">
                    <DripSideBarContent/>
                </aside>
                <main class="drip-main-content">
                    @Body
                </main>
            </div>
        </CascadingValue>
    </div>
}

@code {

    private OpenApiDocument? OpenApiDocument { get; set; }

    protected override async Task OnInitializedAsync()
    {
        OpenApiDocument = await OpenApiDocumentLoader.LoadLocalDocumentAsync();
    }
}