@inherits LayoutComponentBase
@inject OpenApiDocumentLoader OpenApiDocumentLoader

@if (OpenApiDocument is null)
{
    <DripLoader />
}
else
{
    <div id="dripLayout" class="drip-layout">
        <CascadingValue Value="OpenApiDocument">
            <CascadingValue Value="OpenApiDiagnostic">
                <div class="drip-topbar">
                    <DripTopBarContent />
                </div>
                <div class="drip-body-layout">
                    <aside id="dripSideBar" class="drip-sidebar">
                        <DripSideBarContent/>
                    </aside>
                    <main class="drip-main-content">
                        @Body
                    </main>
                </div>
            </CascadingValue>
        </CascadingValue>
    </div>
}

@code {

    private OpenApiDocument? OpenApiDocument { get; set; }
    private OpenApiDiagnostic? OpenApiDiagnostic { get; set; }

    protected override async Task OnInitializedAsync()
    { 
        (OpenApiDocument, OpenApiDiagnostic) = await OpenApiDocumentLoader.LoadLocalDocumentAsync();
    }
}