@inherits LayoutComponentBase

<div id="dripLayout" class="drip-layout">
    <div class="drip-topbar">
        <DripTopBarContent />
    </div>
    <div class="drip-body-layout">
        <aside id="dripSideBar" class="drip-sidebar">
            <DripSideBarContent />
        </aside>
        <main class="drip-main-content">
            @Body
        </main>
    </div>
</div>
