<div class="nav-dropdown @(IsExpanded ? "expanded" : "")">
    <button type="button" class="nav-dropdown-toggle @(HasActiveOperation ? "active" : "")" @onclick="ToggleDropdown">
        <span class="nav-dropdown-icon">
            @if (IsExpanded)
            {
                <text>📂</text>
            }
            else
            {
                <text>📁</text>
            }
        </span>
        <span class="nav-dropdown-text">@ButtonText</span>
    </button>
    <div class="nav-dropdown-content">
        @ChildContent
    </div>
</div>

@code {

    private OpenApiDocument? _openApiDocument;
    private bool IsExpanded { get; set; }

    [Parameter] public required string ButtonText { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public bool HasActiveOperation { get; set; }
    
    [CascadingParameter]
    public OpenApiDocument? OpenApiDocument { get; set; }

    protected override void OnParametersSet()
    {
        if (_openApiDocument != OpenApiDocument)
        {
            _openApiDocument = OpenApiDocument;
            IsExpanded = false;
        }
        
        if (HasActiveOperation)
            IsExpanded = true;
    }

    private void ToggleDropdown()
    {
        IsExpanded = !IsExpanded;
    }
}